@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
.button-cite{
	display: grid;
	justify-content: center;
	padding-top: 90px;
	grid-gap: 50px;
}
.button-cite a{
	font-size: 50px;
	font-family: "Oswald";
	text-decoration: none;
	color: #808080;
}