
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.logo{
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 25px;
	font-family: "Poppins";
	padding-bottom: 47px;
}
body{
	font-family: "Poppins";
	margin: 0;
}
.button-login{
	display: flex;
	align-items: center;
	grid-column-gap: 50px;
	padding-left: 30px;
}
.button-logo{
	display: flex;
	align-items: center;
	padding-left: 590px;
}
.button-left{
	grid-column-gap: 50px;
	display: flex;
	padding-right: 25px;
	border-right: 1px solid rgb(242, 242, 242);
	height: 41px;
	border-width: 2px;
}
.button-left button{
	background: no-repeat;
	border: 0px;
	font-size: 18px;
	font-weight: 600;
	color: rgb(148, 149, 154);
}
.login{
	background: no-repeat;
	border: 0px;
	font-weight: 600;
	font-size: 18px;
	color: rgb(18, 13, 38);
}
.sign-up{
	font-size: 18px;
	font-weight: 600;
	color: #fff;
	background-color: #000;
	border: 0px;
	border-radius: 6px;
	padding: 12px 24px 12px 24px;
}
.info{
	justify-content: center;
	display: flex;
	grid-column-gap: 165px;
	font-family: "Poppins";
	padding-top: 47px;
	padding-bottom: 80px;
}
.info-text p{
	font-weight: 700;
	font-size: 72px;
	line-height: 85px;
	padding-bottom: 33px;
	font-family: "Poppins";
}
.info-text h1{
	font-size: 20px;
	font-weight: 400;
	color: rgb(148, 149, 154);
	line-height: 30px;
	padding-bottom: 58px;
	font-family: "Poppins";
}
.info-button{
	display: flex;
	grid-column-gap: 27px;
	font-family: "Poppins";
}
.try-for-free{
	background-color: rgb(255, 112, 88);
	display: flex;
	align-items: center;
	grid-column-gap: 18px;
	color: #fff;
	font-weight: 500;
	font-size: 18px;
	padding: 25px 45px 25px 45px;
	border-radius: 15px;
	font-family: "Poppins";
}
.info-button button{
	border: 0px;
	font-family: "Poppins";
}
.No-credit-card-required{
	background: no-repeat;
	font-weight: 600;
	font-size: 16px;
	color: rgb(255, 112, 88);
	font-family: "Poppins";
}
.info-marcet{
	justify-content: center;
	display: grid;
	text-align: center;
	padding-top: 28px;
}
.info-marcet p{
	padding-bottom: 50px;
	font-family: "Poppins";
	font-weight: 500;
	font-size: 22px;
	color: rgb(148, 149, 154);
}
.img-marcet{
	display: flex;
	grid-column-gap: 137px;
	padding-bottom: 27px;
}
.text-pricing{
	justify-content: center;
	display: grid;
	text-align: center;
	padding-top: 43px;
	font-family: "Poppins";
	padding-bottom: 53px;
	margin-top: 90px;
}
.text-pricing p{
	font-weight: 700;
	font-size: 40px;
}
.text-pricing h1{
	padding-bottom: 53px;
	font-size: 20px;
	color: rgb(148, 149, 154);
	padding-top: 20px;
	font-weight: 500;
}
.line-info{
	display: flex;
	align-items: center;
	font-family: "Poppins";
	font-weight: 500;
	font-size: 20px;
}
.line-info h1{
	padding-left: 5px;
}
.carta-nomber{
	font-family: "Poppins";
	box-shadow: 0px 10px 55px 0px rgba(241, 102, 24, 0.15);
	width: 396px;
	border-radius: 15px;
	text-align: center;
	padding-top: 37px;
	padding-bottom: 35px;
}
.carta-nomber-title1{
	font-family: "Poppins";
	box-shadow: 0px 10px 55px 0px rgba(241, 102, 24, 0.15);
	border-radius: 15px;
	text-align: center;
	padding-bottom: 81px;
	padding-top: 80px;
	padding-left: 20px;
	padding-right: 20px;
}
.carta , .carta1{
	justify-content: center;
	display: flex;
	padding-top: 48px;
	grid-column-gap: 58px;
	padding-bottom: 30px;
}
.carta-nomber p{
	padding-bottom: 22px;
	font-size: 40px;
	font-weight: 700;
}
.carta-nomber a{
	font-weight: 600;
	font-size: 18px;
	color: rgb(148, 149, 154);
}
.wight1{
	height: 450px;
}
.wight2{
	height: 680px;
}
.carta-info h1{
	padding-bottom: 25px;
	padding-top: 10px;
	font-weight: 700;
	font-size: 36px;
	color:rgb(255, 112, 88);
}
.carta-info h3{
	padding-bottom: 22px;
	line-height: 25px;
	font-size: 20px;
	color:rgb(148, 149, 154);
	border-bottom: 1px solid rgb(242, 242, 242);
	width: 300px;
	margin-left: 48px;
}
.line-info{
	margin-left: 48px;
	padding-top: 10px;
}
.carta-nomber button{
	background-color:rgb(255, 112, 88);
	border: 0px;
	color: #fff;
	font-weight: 500;
	font-size: 18px;
	color: #fff;
	border-radius: 15px;
	padding: 25px 95px 25px 95px;
	margin-top: 20px;
}
.carta-nomber-title{
	padding-top: 114px;
	font-family: "Poppins";
	padding-bottom: 141px;
}
.carta-nomber-title-header{
	text-align: center;
	background-color: rgba(255, 112, 88, 0.05);
	padding-top: 35px;
	padding-bottom: 35px;
	font-size: 46px;
	font-weight: 700;
}
.carta-nomber-title1 h2{
	font-weight: 700;
	font-size: 24px;
	line-height: 35px;
	padding-bottom: 28px;
}
.carta-nomber-title1 h3{
	font-weight: 400;
	font-size: 18px;
	color:rgb(148, 149, 154);
	line-height: 25px;
}
.carta-nomber-title1-img{
	padding-top: 28px;
	padding-bottom: 28px;
}
.carta-nomber-title1 h1{
	font-weight: 500;
	font-size: 15px;
}
.pt1{
	padding-top: 40px;
}
.pt{
	padding-top: 53px;
}
.text-info-button{
	justify-content: center;
	display: flex;
	align-items: center;
	background-color: rgba(255, 112, 88, 0.05);
	font-family: "Poppins";
	grid-column-gap: 93px;
	padding-top: 132px;
}
.text-info-button-text p{
	font-weight: 700;
	font-size: 40px;
	line-height: 50px;
	padding-bottom: 23px;
}
.text-info-button-text h1{
	font-size: 18px;
	line-height: 25px;
	color:rgb(148, 149, 154);
	padding-bottom: 63px;
}
.text-info-button-text button{
	display: flex;
	align-items: center;
	grid-column-gap: 18px;
	font-size: 18px;
	font-weight: 500;
	color: #fff;
	background-color: rgb(255, 112, 88);
	border: 0px;
	padding: 24px 45px 24px 45px;
	border-radius: 10px;
}
.text-info-button-img-line{
	display: grid;
	padding-left: 48px;
	padding-top: 74px;
}
.text-info-button-img-line1{
	display: grid;
}
.text-info-button-img{
	display: flex;
}
.img3{
	padding-top: 0px;
	padding-left: 21px;
}
.img4{
	padding-top: 97px;
}
.img2{
	position: absolute;
	z-index: -1;
	padding-top: 174px;
}
.text-info-button{
	padding-bottom: 113px;
}
.info-carta-bay{
	text-align: center;
	margin: 113px 81px 113px 81px;
	padding: 72px 209px 72px 209px;
	background-color: rgb(255, 112, 88);
	border-radius: 25px;
	font-family: "Poppins";
}
.info-carta-bay p , .info-carta-bay h1{
	padding-top: 38px;
	color: #fff;
}
.info-carta-bay p{
	font-weight: 700;
	font-size: 40px;
	line-height: 65px;
}
.info-carta-bay h1{
	line-height: 25px;
}
.d-f-media-1{
	display: flex;
	grid-column-gap: 58px;
}
.info-carta-bay button{
	border: 0px;
	margin-top: 38px;
	padding: 24px 65px 24px 65px;
	border-radius: 15px;
	font-weight: 600;
	font-size: 18px;
}
.line{
	display: flex;
}
.line-homber{
	display: grid;
	text-align-last: left;
	padding-bottom: 70px;
}
.line-homber h1{
	font-weight: 600;
	font-size: 24px;
	padding-bottom: 37px;
	padding-right: 330px;
}
.footer-text{
	justify-content: center;
	display: grid;
	font-family: "Poppins";
}
.svitch{
	margin-left: 300px;
}
.svitch{
	box-shadow: 0px 10px 20px 0px rgba(241, 102, 24, 0.15);
	height: 53px;
}
.svitch button{
	background: no-repeat;
	padding: 14px 16px 14px 16px;
	font-weight: 500;
	font-size: 18px;
	border-radius: 8px;
	border: 0px;
}
.svitch img{
	padding-left: 71px;
}
.line-homber h1{
	font-size: 24px;
	font-weight: 600;
	padding-bottom: 7px;
}
.line-homber button{
	background: no-repeat;
	color:rgb(255, 112, 88);
	font-weight: 600;
	font-size: 18px;
	padding-bottom: 18px;
	border: 0px;
}
.pb{
	margin-bottom: 24px;
}
.footer-text{
	border-bottom: 3px solid rgb(18, 13, 38);
	margin: 0px 80px 0px 80px;
}
.gmail{
	justify-content: space-between;
	display: flex;
	align-items: center;
	margin: 42px 80px 82px 80px;
	font-family: "Poppins";
}
.active-menu{
	width: 50px;
	height: 50px;
}
.active-menu img{
	height: 50px;
	width: 50px;
}
.gmail a{
	text-decoration: none;
	font-weight: 600;
	font-size: 18px;
	color: #000;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
.section-center{
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 6;
  text-align: center;
  transform: translateY(-50%);
}




.logo img {
  height: 26px;
  width: auto;
  display: block;
}

.menu{
	display: grid;
	grid-gap: 30px;
	font-family: "Poppins";
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	padding: 30px;
	border-bottom-right-radius: 900px;
}
.d-n{
	display: none;
}
.menu img{
	width: 40px;
	height: 40px;
	position: absolute;
	right: -40px;
	top: 10px;
}
.menu a{
	text-decoration: none;
	color: #000;
	font-size: 22px;
	width: 120px;
}
.active-menu{
	padding-top: 20px;
	padding-left: 190px;
}
@media screen and (max-width: 991px) {
  .menu-icon:checked + label,
  .menu-icon:not(:checked) + label{
    right: 55px;
  }
  .nav{
    right: 30px;
  }
  .nav ul li a{
    font-size: 8vh;
  }
}

.d-f-media{
	display: flex;
	grid-column-gap: 56px;
}
.gmail-img{
	grid-column-gap: 16px;
	display: flex;
}
.active-hamburger-menu{
	display: none;
}
.active-hamburger-menu img{
	width: 45px;
	height: 45px;
}
.info-text-nomber2{
	background-color:rgba(255, 112, 88, 0.05);
	padding-top: 35px;
	padding-bottom: 187px;
	display: flex;
	padding-left: 80px;
	padding-right: 80px;
	justify-content: space-between;
	font-family: "Poppins";
	margin-bottom: 40px;
}
.info-text-nomber2-text p{
	font-weight: 700;
	font-size: 72px;
	line-height: 75px;
	font-family: "Poppins";
	padding-bottom: 60px;
	border-bottom: 1px solid #000;
}
.info{
	padding-left: 20px;
	padding-right: 20px;
}
.fz-img-text{
	text-align-last: left;
	padding-left: 30px;
	padding-top: 13px;
}
.fz-img-text h1{
	padding-top: 13px;
	padding-bottom: 111px;
	font-weight: 500;
	font-size: 20px;
	color: rgb(60, 62, 86);
	line-height: 32px;
}
.pb-nomber h1{
	padding-bottom: 50px;
}
.footer-text{
	padding-top: 90px;
}
.efects{
	position: absolute;
	padding-top: 550px;
	left: 900px;
	z-index: -1;
}
.button1 button{
	background-color: #000;
	padding: 15px 25px 15px 25px;
	border: 0px;
	border-radius: 15px;
	color: #fff;
}
.button1 img{
	padding-left: 100px;
}
.pb1 h2{
	padding-bottom: 30px;
}
.jc{
	display: grid;
	grid-template-columns: repeat(3,2fr);
	grid-gap: 58px;
}
.bc{
	background-color: rgba(255, 112, 88, 0.05);
	padding: 71px 172px 71px 172px;
}
.info-text-nomber2-text button{
	border: 0px;
	background-color:rgb(255, 112, 88);
	color: #fff;
	font-weight: 500;
	font-size: 18px;
	padding: 15px 25px 15px 25px;
	border-radius: 15px;
}
.info-text-nomber2-text h1{
	padding-top: 51px;
	padding-bottom: 48px;
	font-weight: 500;
	font-size: 20px;
	color:rgb(148, 149, 154);
	line-height: 30px;
}
.bc-nomber{
	background-color: #fff;
	border-radius: 15px;
	box-shadow: 0px 10px 55px 0px rgba(241, 102, 24, 0.15);
}
.d-f-blog{
	display: flex;
	align-items: center;
	grid-column-gap: 25px;
}
.d-f-blog h2{
	width: 489px;
	font-size: 20px;
}
.text-blog h2{
	font-size: 20px;
}
.text-calums-1 p{
	padding-bottom: 15px;
	font-size: 28px;
	font-weight: 300;
}
.text-calums-1{
	display: grid;
	grid-gap: 35px;
	width: 46%;
	padding-left: 0%;
}
.text-calums-1 h1{
	font-weight: 700;
	font-size: 48px;
	line-height: 50px;
	padding-bottom: 48px;
}
.text-blog , .text-blog1{
	justify-content: center;
	display: grid;
	padding-top: 75px;
	grid-gap: 30px;
	font-family: "Poppins";
	line-height: 25px;
	width: 100%;
	padding-bottom: 90px;
}
.d-f-blog1 h2{
	padding-top: 25px;
	font-size: 28px;
	font-weight: 300;
	line-height: 40px;
}
.text-blog1 h2{
	font-size: 28px;
	line-height: 40px;
}
.d-f-blog1 li{
	font-size: 28px;
	font-weight: 300;
	line-height: 40px;
}
.text-blog1{
	display: flex;
}
.carta-lbog , .carta-lbog1{
	background-color: #fff;
	padding: 37px;
	border-radius: 15px;
	padding-bottom: 0;
	height: 740px;
	box-shadow: 0px 10px 55px 0px rgba(241, 102, 24, 0.15);
}
.carta-lbog{
	position: fixed;
	top: 20px;	
	right: 20px;	
}
.active-carta-blog img{
	width: 70px;	
	height: 70px;	
}
.active-carta-blog{
	position: fixed;
	right: 20px;	
	bottom: 30px;
	z-index: 10;	
}
.bc-nomber button{
	width: 100%;
	padding-left: 130px;
	margin-top: 10px;
}
.carta-lbog-section h3{
	font-size: 20px;
	font-weight: 300;
}
.carta-lbog-section h4{
	font-weight: 700;
	font-size: 20px;
	line-height: 25px;
	padding-top: 10px;
}
.carta-lbog-section{
	padding-bottom: 37px;
}
.info-button1 button{
	border: 0px;
}
textarea {
    resize: none;
    width: 100%;
    height: 206px;
    padding: 24px 18px 24px 18px;
    border: 0px;
    background-color:rgba(255, 112, 88, 0.05);
    color: rgba(255, 112, 88, 0.5);
    font-size: 18px;
    font-weight: 500;
    font-family: "Poppins";
    border-radius: 16px;
}
.df{
	display: flex;
	grid-column-gap: 38px;
}
.info-text h2{
	font-size: 16px;
	font-weight: 600;
	color: rgba(18, 13, 38, 0.5);
	padding-bottom: 16px;
	padding-top: 32px;
}
.info-text input{
	border:0px;
	background-color:rgba(255, 112, 88, 0.05);
	border-radius: 10px;
	padding: 10px 16px 10px 16px;
	color: rgba(255, 112, 88, 0.5);
	font-size: 18px;
	font-weight: 500;
	font-family: "Poppins";
	width: 100%;
}
body{
	background-color:rgba(255, 112, 88, 0.05) ;
}
.certa-top-text{
	display: flex;
	grid-gap: 25px;
	align-items: center;
}
.wight{
	justify-content: center;
	display: grid;
	padding: 58px;
	grid-gap: 75px;
	font-family: "Poppins";
}
.calums1 p{
	padding-top: 36px;
	font-size: 20px;
	color:rgba(18, 13, 38, 0.5);
	padding-bottom: 20px;
}
.calums1 h1{
	font-weight: 700;
	font-size: 30px;
	line-height: 30px;
	padding-bottom: 27px;
}
.carta a{
	text-decoration: none;
	color: #000;
}
.calums1 button{
	color: #fff;
	border: 0px;
	background-color: rgb(255, 112, 88);
	border-radius: 15px;
	font-size: 20px;
	font-weight: 500;
	width: 100%;
	padding-top: 22px;
	padding-bottom: 22px;
}
.carta {
	grid-gap: 20px;	
}
.df{

}
.wight a{
	color: #fff;
	text-decoration: none;
}
.button1 a{
	color: #fff;
	text-decoration: none;
}
.calums1{
	padding: 22px;
	background-color: #fff;
	border-radius: 15px;
	box-shadow: 0px 10px 55px 0px rgba(241, 102, 24, 0.15);
	height: 100%;
}
.calums2{
	padding: 27px;
	background-color: #fff;
	box-shadow: 0px 10px 55px 0px rgba(241, 102, 24, 0.15);
	border-radius: 15px;
	height: 100%;
}
.button-left a{
	padding-top: 7px;
}
.calums2-text p{
	font-weight: 700;
	font-size: 30px;
	padding-bottom: 20px;
	padding-top: 32px;
}
.button{
	padding-top: 193px;
	padding-bottom: 230px;
	display: grid;
	justify-content: center;
}
.button button{
	color: #fff;
	font-weight: 500;
	font-size: 18px;
	border: 0px;
	background-color:rgb(255, 112, 88);
	border-radius: 15px;
	padding: 22px 55px 22px 55px;
}
.calums2 button{
	margin-top: 27px;
	margin-left: 80%;
	border: 0px;
	background-color: #000;
	font-weight: 500;
	font-size: 18px;
	color: #fff;
	border-radius: 15px;
	padding: 12px 35px 12px 35px;
}
.calums2-text h1{
	font-size: 20px;
	color: rgba(18, 13, 38, 0.5);
	width: 90%;
}
.text-botton-img{
	font-family: "Poppins";
	justify-content: center;
	display: grid;
	padding: 90px;
}
.active-info{
	position: fixed;
	display: none;
}
a{
	text-decoration: none;	
	color: #fff;
}
.text-botton-img h1{
	padding-bottom: 20px;
	font-weight: 700;
	font-size: 48px;
}
.text-botton-img h2{
	font-weight: 300;
	font-size: 28px;
	line-height: 35px;
}
.bc-nomber p{
	font-size: 40px;
	padding-bottom: 0px;
}
.img-careers{
	border-radius: 15px;
	box-shadow: 0px 10px 55px 0px rgba(241, 102, 24, 0.15);
	background: rgb(255, 255, 255);
	justify-content: center;
	display: flex;
	margin-left: 90px;
	margin-right: 90px;
}
.img-careers img{
	padding: 20px;
	width: 100%;
}
.text-blog{
	display: flex;
	justify-content: center;	
}
.text-calums-1{
	display: grid;	
	justify-content: center;	
}
@media screen and (max-width:1502px){
	.img-careers{
		margin-left: 0;	
		margin-right: 0;	
	}
	.info {
		grid-gap: 20px;	
	}
	.bc{
		padding-left: 20px;	
		padding-right: 20px;	
	}
	.button-logo , .active-menu{
		padding-left: 0;	
	}
	.logo{
		display: flex;	
		justify-content: space-between;	
		padding-left: 20px;	
		padding-right: 20px;	
	}
	.footer-text , .gmail{
		margin-left: 0;	
		margin-right: 0;	
	}
	.svitch{
		margin-left: 0;	
	}
	.line{
		display: flex;	
		justify-content: space-between;	
	}
	.gmail{
		padding-left: 40px;	
		padding-right: 40px;	
	}
	.bc{
		padding-left: 40px;	
		padding-right: 40px;	
	}
}
@media screen and (max-width:1334px){
	.img-careers img{
		padding: 0;	
	}
	.jc{
		display: grid;	
		grid-template-columns: repeat(2,6fr);
	}
	.info {
		display: grid;	
	}
	.img-marcet{
		grid-gap: 30px;	
	}
	.carta , .d-f-media{
		grid-gap: 20px;	
	}
	.info{
		grid-gap: 90px;	
	}
}
@media screen and (max-width:1284px){
	.text-info-button{
		grid-gap: 30px;	
	}
	.df{
		grid-gap: 20px;	
	}
}
@media screen and (max-width:1254px){
	.text-info-button{
		display: grid;	
	}
	.info-carta-bay{
		margin-left: 20px;	
		margin-right: 20px;	
	}
	.d-f-media-1{
		grid-gap: 20px;	
	}
	.carta1{
		display: grid;
		grid-gap: 20px;	
	}
	.d-f-media{
		display: grid;	
	}
	.info{
		grid-gap: 30px;	
	}
	.df{
		display: grid;	
	}
}
@media screen and (max-width:1194px){
	.info{
		display: grid;	
	}
}
@media screen and (max-width:1066px){
	.line-homber h1{
		padding-right: 0;	
	}
	.line{
		grid-gap: 90px;	
	}
	.calums2 button{
		margin-left: 0;	
		text-align: right;	
	}
	.info-text p{
		padding-top: 30px;	
	}
	.img-marcet{
		display: grid;
		grid-template-columns: repeat(2,2fr);
		grid-gap: 30px;	
	}
	.info-carta-bay{
		padding-left: 20px;	
		padding-right: 20px;	
	}
	.info-text-nomber2{
		padding-left: 20px;	
		padding-right: 20px;
		display: grid;	
	}
	.info-text-nomber2-img img{
		width: 100%;	
	}
}
@media screen and (max-width:888px){
	.d-f-blog{
		display: grid;
		text-align: center;	
	}
	.text-blog{
		text-align: center;	
	}
	.d-f-blog img{
		padding-bottom: 40px;	
		padding-top: 50px;
	}
}
@media screen and (max-width:832px){
	.carta{
		display: grid;
	}
	.jc{
		grid-template-columns: repeat(1,6fr);
	}
}
@media screen and (max-width:772px){
	.button-left{
		display: none;	
	}
	.info-text input , .info-text textarea{
		width: 500px;	
	}
	.info-button1{
		width: 350px;
	}
	.certa-top-text{
		display: grid;
		grid-gap: 90px;	
	}
	.dn{
		display: none;	
	}
	.d-f-media-1{
		display: grid;
	}
	.carta-nomber-title1{
		width: 500px;	
	}
	.text-info-button-img-line{
		padding-left: 9px;	
	}
	.info-carta-bay p{
		font-size: 30px;	
	}
}
@media screen and (max-width:678px){
	.text-info-button-img-line{
		display: none;	
	}
	.efects-img{
		padding-top: 40px;			
	}
}
@media screen and (max-width:636px){
	.line{
		display: grid;	
		grid-template-columns: repeat(2,1fr);
		grid-gap: 20px;	
	}
	.efects-img img{
		width: 100%;	
	}
	.line-homber {
		padding-bottom: 0;	
	}
	.footer-text{
		padding-bottom: 40px;	
	}
	.wight{
		padding-left: 20px;	
		padding-right: 20px;	
	}
	.text-botton-img{
		padding-left: 20px;	
		padding-right: 20px;	
	}
	.calums1 img{
		width: 100%;	
	}
	.info-text{
		padding-left: 20px;	
	}
	.info-text input , .info-text textarea{
		width: 400px;	
	}
}
@media screen and (max-width:560px){
	.carta-nomber-title1{
		width: 400px;	
	}
	.info  p{
		font-size: 20px;
		line-height: 20px;	
	}
	.info-text h1{
		padding-bottom: 10px;	
	}
	.img-marcet{
		grid-template-columns: repeat(1,4fr);
		display: grid;	
		justify-content: center;
		padding-left: 20px;	
	}
	.button1 button{
		padding-left: 20px;	
	}
	.info-img{
		width: 90%;
		display: grid;	
		padding-left: 20px;	
	}
	.info-img img{
		width: 100%;	
	}
	.text-blog h2{
		width: 100%;	
	}
}
@media screen and (max-width:430px){
	.text-botton-img h2{
		font-size: 14px;
		line-height: 20px;	
	}
	.info-text-nomber2-text p{
		font-size: 30px;
		line-height: 30px;	
	}
	.carta-nomber-title1{
		width: 330px;	
	}
	.text-info-button-text h1{
		font-size: 14px;	
	}
	.info-text input , .info-text textarea{
		width: 300px;	
	}
	.text-info-button-text p{
		font-size: 30px;	
	}
	.info-button{
		grid-gap: 10px;	
	}
	.try-for-free{
		padding: 5px 10px;	
	}
	.info-text p{
		font-size: 40px;
		line-height: 40px;	
	}
}
@media screen and (max-width:390px){
	.button-login{
		padding-left: 0;	
	}
	.bc{
		padding-left: 6px;
		padding-right: 6px;	
	}
	.info-text input , .info-text textarea{
		width: 280px;	
	}
	.info-button1 button{
		padding-left: 100px;	
	}
	.info-button1{
		width: 300px;	
	}
	.carta-nomber{
		width: 360px;	
	}
	.line-info{
		margin-left: 10px;	
	}
	.button-login{
		grid-gap: 10px;	
	}
	.svitch button{
		width: 200px;
	}
}
@media screen and (max-width:375px){
	.info-text input , .info-text textarea{
		width: 250px;	
	}
	.carta-lbog{
		height: 100%;	
	}
}
@media screen and (max-width:360px){
	.carta-nomber-title1{
		width: 300px;	
	}
	.info-button1 button{
		padding-left: 80px;	
	}
	.info-text input , .info-text textarea{
		width: 230px;	
	}
	.info-text{
		padding-left: 0;	
	}
	.info-button1{
		width: 260px;	
	}
}